{% extends 'base.html' %}
{% load static %}

{% block metadescription %}

  {% if category %}
    {{ category.description | truncatewords:155 }}
  {% else %}
    Welcome to Ecommerce store where you can buy anything!
  {% endif %}

{% endblock %}



{% block title %}

  {% if category %}
    {{ category.name }}
  {% else %}
    See our new collections - Ecommerce
  {% endif %}

{% endblock %}


{% block content %}

  {% if category %}
    <div>
      <div class="row my_row_class">
        <div class="mx-auto">
          <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a></p>
        </div>
      </div>
    </div>
  {% endif %}

  {% if category %}
    <div class="mx-auto">
      <img class="my_image" src="{{ category.image.url }}" style="height:500px;" alt="category.name">
      <br><br>
      <h2 class="text-center text-uppercase">{{ category.name }}</h2>
      <p class="text-justify" style="text-align:justify;">{{ category.description }}</p>
    </div>
  {% else %}
    <div class="mx-auto">
      <div>
        <img class="my_image my_image_padding" src="{% static 'img/bannerr.jpg' %}" alt="our products" style="height:500px;">
      </div>
      <br>
      <div>
        <h1 class="text-center my_title">Our Product collections</h1>
        <p class="text-justify" style="text-align:justify;">Explore a world of endless possibilities with us, your ultimate online shopping destination. Discover an extensive selection of products from electronics and fashion to books and home essentials. Benefit from convenient delivery options, secure transactions, and customer reviews. Immerse yourself in a seamless shopping experience that caters to every need, all here.</p>
      </div>
    </div>
    {% endif %}

  <div class="container">
    <div class="row mx-auto">
      {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
          <div class="card text-center" style="min-width:18rem;">
            <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" style="height:250px;" alt="product.name"></a>
            <div class="card-body">
              <h4>{{ product.name }}</h4>
              <p>{{ product.price }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="mx-auto">
      {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
          {% for pg in products.paginator.page_range %}
            <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{ pg }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <br>
  </div>

{% endblock %}